.header {
  background: $dark-grey;
  margin: 0;
  padding: $s-size $m-size;
 
}

.header__content {
  
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 0;
}

.header__sub-title {
  color: white;
  text-decoration: none;
  font-size: $font-size-small;
  &:hover {
    color: gray;
  }
  @media (min-width: $desktop-breakpoint) {
    font-size: $font-size-large;
  }
}



.header__title {
  color: white;
  font-size: $m-size;
  text-decoration: none;
  
  p {
    margin: 0;
  }
  @media (min-width: $desktop-breakpoint) {
    font-size: $l-size;
  }
}
