.loader {
  background-color: white;
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.loader__image {
  height: 17rem;
  width: 17rem;
  @media (min-width: $desktop-breakpoint) {
    height: 24rem;
    width: 24rem;
  }
}

.loader__group {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}
