.show-for-mobile {
  @media (min-width: $desktop-breakpoint) {
    display: none;
  }
}

.show-for-desktop {
  @media (max-width: $desktop-breakpoint - .01rem) {
    display: none;
  }
}

.show-filters {
  transform: translate(0px, 0px);
  transition: .5s;
}

.hide-filters {
  transform: translate(-1110px, 0px);
  overflow: hidden;
  transition: .5s;
  
}
.down-list {
  transform: translateY(0px);
  transition: .5s;
}

.up-list {
  transform: translateY(-320px);
  transition: .7s;
  @media (min-width: $desktop-breakpoint) {
    transform: translateY(-220px);
  }
 
}
